.sectionsCases {
  padding: 40px 0;
  .btn {
    margin: 20px 0 0 0;
  }
}
.logo- {
  &granatum {
    margin: 20px 0;
    width: 220px;
  }
  &conlicitacao {
    margin: 120px 0 20px 0;
    width: 220px;
  }
  &virou_delirevy {
    margin: 0 0 20px 0;
    width: 120px;
  }
  &educadorafm {
    margin: 80px 0 20px 0;
    width: 140px;
  }
  &accessloans {
    margin: 70px 0 20px 0;
    width: 160px;
  }
  &lumiar {
    margin: 80px 0 20px 0;
    width: 240px;
  }
}
.detailsCase {
  .main {
    padding: 40px 0;
  }
  h2 {
    font-size: 2em;
    text-transform: unset;
    margin: 0 0 20px 0;
  }
  .contentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .screen {
    padding: 60px 0 20px 0;
  }
  .challenge {
    p {
      font-size: 1.6em;
      line-height: 1.4em;
    }
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    img {
      margin: 0 10px 0 0;
    }
  }
  .color {
    &-granatum {
      background-color: #0d91e5;
    }
    &-educadorafm {
      background-color: #9ad216;
    }
    &-conlicitacao {
      background-color: #334152;
    }
    &-viroudelivery {
      background-color: #f07819;
    }
    &-acessloans {
      background-color: #2df5b3;
    }
    h2,
    p {
      color: #ffffff;
    }
  }
}
